@charset "ISO-8859-1";


/* Haut de la page et arrière plan */
h1 {
	padding: 8px 37.5px;
	font-size: 48px;
	background-color: #ba7f92;
	text-align: center;
	margin-top: 0px;
}

body {
	background-color: #b0c7f5;
}


/* Création des hexagones */

/* .hexagon.ocean {
	width: 150px;
	height: 157.5px;
	background: blue;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
} */

/* .hexagon.terre {
	width: 150px;
	height: 157.5px;
	background: green;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
} */
.hexagon {
	width: 150px;
	height: 82.5px;
	background: #0c95c7;
	position: relative;
}

.hexagon:before {
	content: "";
	position: absolute;
	top: -43.3px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 43.3px solid #0c95c7;
}

.hexagon:after {
	content: "";
	position: absolute;
	bottom: -43.3px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-top: 43.3px solid #0c95c7;
}
/* 
.hexagon.terre {
	width: 150px;
	height: 82.5px;
	background: green;
	position: relative;
}

.hexagon.terre:before {
	content: "";
	position: absolute;
	top: -43.3px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 43.3px solid green;
}

.hexagon.terre:after {
	content: "";
	position: absolute;
	bottom: -43.3px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-top: 43.3px solid green;
} */

/* disposition du plateau */

div {
	display: inline-block;
}
#plateau {
	min-width: 1300px;
	margin-top: 150px;
	
}

.plateau {
	position: relative;
	margin-top: -19px;
	display: block;
	text-align: center;
}

.hexagon {
	margin-left: -4.5px;
	margin-top: 55px;
	position: relative;
}

.vide {
	width: 75px;
}


/* Affichage des menus et tableaux */

th, td {
	padding: 15px;
	width: 150px;
	text-align: center;
}

#menu {
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
}

#joueurs {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 50;
	width: 300px;
}

#mesCartes {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 50;
	width: 15%;
}

#mesRessources {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 50;
	width: 10%;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
}

/* Création des croisements */

.croisement {
	content: "";
	background-color:white;
    height:20px;
    width:20px;
    border-radius:35%;
	z-index: 10;
	position: absolute;
	display: inline;
}


.croisement.haut {
	top: -51px;
	left: 65px;
}

.croisement.hautgauche {
	top: -10px;
	left: -10px;
}

.croisement.hautdroite {
	top: -10px;
	left: 140px;
}

.croisement.bas {
	top: 113px;
	left: 65px;
}

.croisement.basgauche {
	top: 72.5px;
	left: -10px;
}

.croisement.basdroite {
	top: 72.5px;
	left: 140px;
}

/* Création des chemins */

.chemin {
	content: "";
	width: 0px;
	height: 82.5px;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	color: white;
	z-index: 1;
	position: absolute;
	display: inline;
}

.chemin.gauche {
	left: -1px;
}

.chemin.gauchehaut {
	transform: rotate(-120deg);
	left: 36px;
	top: -64px
}

.chemin.gauchebas {
	transform: rotate(120deg);
	left: 35px;
	top: 63px
}

.chemin.droite {
	left: 149px;
}

.chemin.droitehaut {
	transform: rotate(120deg);
	left: 111px;
	top: -64px
}

.chemin.droitebas {
	transform: rotate(-120deg);
	left: 111px;
	top: 63px
}

/* Couleurs des chemins et des croisements  */
 .Orange{
		background-color:orange;
		border-color: orange;
		color: orange;
		
		
}

.Violet{
		background-color:purple;
		border-color: purple;
		color: purple;
		
}

.Marron{
		background-color:brown;
		border-color: brown;
		color: brown;
		
}

.Cyan{
		background-color:cyan;
		border-color: cyan;
		color: cyan;
	
}

/* Grossissement des chemins et croisements au passage de la souris */

.croisement:hover{
	transform: scale(1.75);
}
.chemin.droite:hover, .chemin.gauche:hover {
	transform: scalex(2.5);
}

.chemin.gauchehaut:hover, .chemin.gauchebas:hover,.chemin.droitehaut:hover, .chemin.droitebas:hover {
	border-width: 5px;
}

/* Affichage de la valeur
 */
.valeur{
	position:absolute;
	top: 30%;
	left: 44%;
	font-style: oblique;
	font-weight:bold;
	color:white;
	font-size:x-large
}



/* Arrière plans des hexagones */


.Bois
	{
	background-color: #0d732a
	}
.Bois:Before{
		border-bottom: 43.3px solid #0d732a;
}

.Bois:After{	
		border-top: 43.3px solid #0d732a;
}


.Minerai
	{
	background-color: #8c8980
	}
.Minerai:Before{
		border-bottom: 43.3px solid #8c8980;
}

.Minerai:After{	
		border-top: 43.3px solid #8c8980;
}


.Ble
	{
	background-color: #cfad40
	}
.Ble:Before{
		border-bottom: 43.3px solid #cfad40;
}

.Ble:After{	
		border-top: 43.3px solid #cfad40;
}

.Laine
	{
	background-color: #39d611
	}
.Laine:Before{
		border-bottom: 43.3px solid #39d611;
}

.Laine:After{	
		border-top: 43.3px solid #39d611;
}

.Argile
	{
	background-color: #cc4c2f
	}
.Argile:Before{
		border-bottom: 43.3px solid #cc4c2f;
}

.Argile:After{	
		border-top: 43.3px solid #cc4c2f;
}

.Desert
	{
	background-color: #f5e9c4
	}
.Desert:Before{
		border-bottom: 43.3px solid #f5e9c4;
}

.Desert:After{	
		border-top: 43.3px solid #f5e9c4;
}

/* Mise en avant des ports */

p.Port,
p.PortMinerai,
P.PortBois,
p.PortBle,
p.PortLaine,
p.PortArgile {
	content: "";
      width: 0;
      height: 0;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-bottom: 50px solid white;
	z-index: 1;
	position: absolute;
	left : 33%;
	top: 15%
}


p.PortMinerai{
	border-bottom: 50px solid #8c8980;	
}

p.PortBois{
	border-bottom: 50px solid #0d732a;	
}

p.PortLaine{
	border-bottom: 50px solid #39d611;	
}

p.PortArgile{
	border-bottom: 50px solid #cc4c2f;
}

p.PortBle{
	border-bottom: 50px solid #cfad40;	
}

/* Bordures sur les croisements portuaires */

 .croisement.portuaire{
	    border:3px solid #091ed9;    
}