<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<base href="/catan-web/" />
<meta charset="ISO-8859-1">
<meta name="Plateau de Jeu " content="Colon de Catan" />
<meta name="viewport" content="width=devide-width, initial-scale=1" />
<title>Partie en cours !</title>
<script defer src="assets/plateauJS.js"></script>
<script defer src="assets/regle.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link href="assets/stylePlateau.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<h1>Plateau de jeu !</h1>

	<section id="menu">
		<div class="btn-group-vertical" role="group">
			<input type='button' id='lanceDe' class="btn btn-secondary btn-lg" value="Lancer les des" />
			<input type='button' id='findetour' class="btn btn-secondary btn-lg" value="Fin de tour" />
			<button type="button"
				class="btn btn-secondary btn-lg dropdown-toggle dropdown">Construire</button>
			<button type="button"
				class="btn btn-secondary btn-lg dropdown-content">Route</button>
			<button type="button"
				class="btn btn-secondary btn-lg dropdown-content">Colonie</button>
			<button type="button"
				class="btn btn-secondary btn-lg dropdown-content">Ville</button>
		</div>
	</section>
	<section id=plateau>
		<section class="plateau" th:each ="ligne : ${plateau}">
				<div class="hexagon" th:each="colonne : ${ligne}" th:id="${colonne[0].id}" th:classappend="${colonne[0].type}">
					<p th:if="${colonne[0].val != 0}" th:class="valeur">[[${colonne[0].val}]]</p>
					<p th:if="${#strings.contains(colonne[0].type, 'Port')}" th:class="${colonne[0].type}"></p>
					<div class="croisement portuaire" th:each= "croisement : ${colonne[1]}" th:if="${croisement.accesPort == true}" th:classappend= "${croisement.posture}" th:id = "${croisement.id}"></div>
					<div class="croisement" th:each= "croisement : ${colonne[1]}" th:if="${croisement.accesPort != true}" th:classappend= "${croisement.posture}" th:id = "${croisement.id}"></div>
					<div class="chemin" th:each= "chemin : ${colonne[2]}" th:classappend= "${chemin.posture}" th:id = "${chemin.id}"></div>
				</div>
		</section>
	</section>
					

		<table id="joueurs" class="table table-striped table-dark">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Joueur</th>
					<th scope="col">Cartes</th>
					<th scope="col">Ressources</th>
					<th scope="col">Points</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="joueur : ${joueurs}" th:if="${joueur.partie != NULL}">
					<td>[[${joueur.couleur}]]</td>
					<td th:each="main : ${mainJoueurs}" 
						th:if="${main[0] == joueur.id}" 
						th:text="${main[1]}"/>
					<td>[[${joueur.bois + joueur.argile + joueur.minerai + joueur.ble + joueur.laine}]]</td>
					<td> 0 </td>
				</tr>
			</tbody>
		</table>
		<table id="mesCartes" class="table table-striped table-dark">
			<thead class="thead-dark">
				<tr>
					<th colspan="2" scope="colgroup">Mes cartes developpement</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th class="col-2" scope="col">Type</th>
					<th class="col-1" scope="col">Nombre</th>
				</tr>
				<tr>
					<td>Chevalier</td>
					<td>[[${carteDev[0]}]]</td>
				</tr>
				<tr>
					<td>Point De Victoire</td>
					<td>[[${carteDev[1]}]]</td>
				</tr>
				<tr>
					<td>Constructeur</td>
					<td>[[${carteDev[2]}]]</td>
				</tr>
				<tr>
					<td>Decouverte</td>
					<td>[[${carteDev[3]}]]</td>
				</tr>
				<tr>
					<td>Monopole</td>
					<td>[[${carteDev[4]}]]</td>
				</tr>
			</tbody>
		</table>

		<table id="mesRessources" class="table table-striped table-dark">
			<thead class="thead-dark">
				<tr>
					<th colspan="2" scope="colgroup">Mes ressources</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th class="col-1" scope="col">Type</th>
					<th class="col-1" scope="col">Nombre</th>
				</tr>
				<tr>
					<td>Bois</td>
					<td th:text="${sessionJoueur.bois}"></td>
				</tr>
				<tr>
					<td>Argile</td>
					<td>[[${sessionJoueur.argile}]]</td>
				</tr>
				<tr>
					<td>Ble</td>
					<td>[[${sessionJoueur.ble}]]</td>
				</tr>
				<tr>
					<td>Minerai</td>
					<td>[[${sessionJoueur.minerai}]]</td>
				</tr>
				<tr>
					<td>Laine</td>
					<td>[[${sessionJoueur.laine}]]</td>
				</tr>
			</tbody>
		</table>
</body>
</html>