<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<base href="/catan-web/" />
<meta charset="ISO-8859-1">
<meta name="Plateau de Jeu " content="Colon de Catan" />
<meta name="viewport" content="width=devide-width, initial-scale=1" />
<title>Partie en cours !</title>
<script defer src="assets/plateauJS.js"></script>
<script defer src="assets/regle.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link href="assets/stylePlateau.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<h1>Plateau de jeu !</h1>

	<section id="menu">
		<div class="btn-group-vertical" role="group">
			<input type='button' id='lanceDe' class="btn btn-secondary btn-lg" value="Lancer les des" />
			<input type='button' id='findetour' class="btn btn-secondary btn-lg" value="Fin de tour" />
			<button type="button"
				class="btn btn-secondary btn-lg dropdown-toggle dropdown">Construire</button>
			<button type="button"
				class="btn btn-secondary btn-lg dropdown-content">Route</button>
			<button type="button"
				class="btn btn-secondary btn-lg dropdown-content">Colonie</button>
			<button type="button"
				class="btn btn-secondary btn-lg dropdown-content">Ville</button>
		</div>
	</section>
	<section id=plateau>
		<section class="plateau" th:each ="ligne : ${plateau}">
				<div class="hexagon" th:each="colonne : ${ligne}" th:id="${colonne[0].id}" th:classappend="${colonne[0].type}">
					<p th:if="${colonne[0].val != 0}" th:class="valeur">[[${colonne[0].val}]]</p>
					<p th:if="${#strings.contains(colonne[0].type, 'Port')}" th:class="${colonne[0].type}"></p>
					<div class="croisement portuaire" th:each= "croisement : ${colonne[1]}" th:if="${croisement.accesPort == true}" th:classappend= "${croisement.posture}" th:id = "${croisement.id}"></div>
					<div class="croisement" th:each= "croisement : ${colonne[1]}" th:if="${croisement.accesPort != true}" th:classappend= "${croisement.posture}" th:id = "${croisement.id}"></div>
					<div class="chemin" th:each= "chemin : ${colonne[2]}" th:classappend= "${chemin.posture}" th:id = "${chemin.id}"></div>
				</div>
		</section>
	</section>
					










				<section id="ligne1" class="plateau">
					<div class="vide"></div>
					<div class="vide"></div>
					<div class="vide"></div>
					<div id="20" class="hexagon ocean ${positions.type}"></div>
					<div id="30" class="hexagon ocean"></div>
					<div id="21" class="hexagon ocean"></div>
					<div id="31" class="hexagon ocean"></div>
					<div class="vide"></div>
					<div class="vide"></div>
					<div class="vide"></div>
				</section>
				<section id="ligne2" class="plateau">
					<div class="vide"></div>
					<div class="vide"></div>
					<div id="29" class="hexagon ocean"></div>
					<div id="19" class="hexagon terre">
						<p id="54" class="croisement haut"></p>
						<p id="53" class="croisement hautgauche"></p>
						<p id="70" class="chemin gauche"></p>
						<p id="71" class="chemin gauchehaut"></p>
						<p id="72" class="chemin droitehaut"></p>
					</div>
					<div id="8" class="hexagon terre">
						<p id="26" class="croisement haut"></p>
						<p id="25" class="croisement hautgauche"></p>
						<p id="31" class="chemin gauche"></p>
						<p id="32" class="chemin gauchehaut"></p>
						<p id="33" class="chemin droitehaut"></p>
					</div>
					<div id="9" class="hexagon terre">
						<p id="28" class="croisement haut"></p>
						<p id="27" class="croisement hautgauche"></p>
						<p id="29" class="croisement hautdroite"></p>
						<p id="34" class="chemin gauche"></p>
						<p id="35" class="chemin gauchehaut"></p>
						<p id="36" class="chemin droitehaut"></p>
						<p id="37" class="chemin droite"></p>
					</div>
					<div id="22" class="hexagon ocean"></div>
					<div class="vide"></div>
					<div class="vide"></div>
				</section>
				<section id="ligne3" class="plateau">
					<div class="vide"></div>
					<div id="28" class="hexagon ocean"></div>
					<div id="18" class="hexagon terre">
						<p id="52" class="croisement haut"></p>
						<p id="51" class="croisement hautgauche"></p>
						<p id="67" class="chemin gauche"></p>
						<p id="68" class="chemin gauchehaut"></p>
						<p id="69" class="chemin droitehaut"></p>
					</div>
					<div id="7" class="hexagon terre">
						<p id="24" class="croisement haut"></p>
						<p id="23" class="croisement hautgauche"></p>
						<p id="28" class="chemin gauche"></p>
						<p id="29" class="chemin gauchehaut"></p>
						<p id="30" class="chemin droitehaut"></p>
					</div>
					<div id="2" class="hexagon terre">
						<p id="8" class="croisement haut"></p>
						<p id="7" class="croisement hautgauche"></p>
						<p id="7" class="chemin gauche"></p>
						<p id="8" class="chemin gauchehaut"></p>
						<p id="9" class="chemin droitehaut"></p>
					</div>
					<div id="10" class="hexagon terre">
						<p id="30" class="croisement haut"></p>
						<p id="9" class="croisement hautgauche"></p>
						<p id="31" class="croisement hautdroite"></p>
						<p id="10" class="chemin gauche"></p>
						<p id="38" class="chemin gauchehaut"></p>
						<p id="39" class="chemin droitehaut"></p>
						<p id="40" class="chemin droite"></p>
					</div>
					<div id="32" class="hexagon ocean"></div>
					<div class="vide"></div>
				</section>
				<section id="ligne4" class="plateau">
					<div id="37" class="hexagon ocean"></div>
					<div id="17" class="hexagon terre">
						<p id="50" class="croisement haut"></p>
						<p id="49" class="croisement hautgauche"></p>
						<p id="48" class="croisement basgauche"></p>
						<p id="64" class="chemin gauche"></p>
						<p id="65" class="chemin gauchehaut"></p>
						<p id="66" class="chemin droitehaut"></p>
						<p id="63" class="chemin gauchebas"></p>
					</div>
					<div id="6" class="hexagon terre">
						<p id="22" class="croisement haut"></p>
						<p id="21" class="croisement hautgauche"></p>
						<p id="25" class="chemin gauche"></p>
						<p id="26" class="chemin gauchehaut"></p>
						<p id="27" class="chemin droitehaut"></p>
					</div>
					<div id="1" class="hexagon terre">
						<p id="6" class="croisement haut"></p>
						<p id="5" class="croisement hautgauche"></p>
						<p id="5" class="chemin gauche"></p>
						<p id="6" class="chemin gauchehaut"></p>
						<p id="1" class="chemin droitehaut"></p>
					</div>
					<div id="3" class="hexagon terre">
						<p id="10" class="croisement haut"></p>
						<p id="1" class="croisement hautgauche"></p>
						<p id="2" class="chemin gauche"></p>
						<p id="11" class="chemin gauchehaut"></p>
						<p id="12" class="chemin droitehaut"></p>
					</div>
					<div id="11" class="hexagon terre">
						<p id="32" class="croisement haut"></p>
						<p id="11" class="croisement hautgauche"></p>
						<p id="33" class="croisement hautdroite"></p>
						<p id="34" class="croisement basdroite"></p>
						<p id="13" class="chemin gauche"></p>
						<p id="41" class="chemin gauchehaut"></p>
						<p id="42" class="chemin droitehaut"></p>
						<p id="43" class="chemin droite"></p>
						<p id="44" class="chemin droitebas"></p>
					</div>
					<div id="23" class="hexagon ocean"></div>
				</section>
				<section id="ligne5" class="plateau">
					<div class="vide"></div>
					<div id="27" class="hexagon ocean"></div>
					<div id="16" class="hexagon terre">
						<p id="20" class="croisement haut"></p>
						<p id="47" class="croisement hautgauche"></p>
						<p id="46" class="croisement basgauche"></p>
						<p id="61" class="chemin gauche"></p>
						<p id="62" class="chemin gauchehaut"></p>
						<p id="24" class="chemin droitehaut"></p>
						<p id="60" class="chemin gauchebas"></p>
					</div>
					<div id="5" class="hexagon terre">
						<p id="4" class="croisement haut"></p>
						<p id="19" class="croisement hautgauche"></p>
						<p id="22" class="chemin gauche"></p>
						<p id="23" class="chemin gauchehaut"></p>
						<p id="4" class="chemin droitehaut"></p>
					</div>
					<div id="4" class="hexagon terre">
						<p id="2" class="croisement haut"></p>
						<p id="3" class="croisement hautgauche"></p>
						<p id="19" class="chemin gauche"></p>
						<p id="3" class="chemin gauchehaut"></p>
						<p id="15" class="chemin droitehaut"></p>
					</div>
					<div id="12" class="hexagon terre">
						<p id="12" class="croisement haut"></p>
						<p id="13" class="croisement hautgauche"></p>
						<p id="35" class="croisement hautdroite"></p>
						<p id="36" class="croisement basdroite"></p>
						<p id="16" class="chemin gauche"></p>
						<p id="14" class="chemin gauchehaut"></p>
						<p id="45" class="chemin droitehaut"></p>
						<p id="46" class="chemin droite"></p>
						<p id="47" class="chemin droitebas"></p>
					</div>
					<div id="33" class="hexagon ocean"></div>
					<div class="vide"></div>
				</section>
				<section id="ligne6" class="plateau">
					<div class="vide"></div>
					<div class="vide"></div>
					<div id="36" class="hexagon ocean"></div>
					<div id="15" class="hexagon terre">
						<p id="18" class="croisement haut"></p>
						<p id="45" class="croisement hautgauche"></p>
						<p id="43" class="croisement bas"></p>
						<p id="44" class="croisement basgauche"></p>
						<p id="58" class="chemin gauche"></p>
						<p id="59" class="chemin gauchehaut"></p>
						<p id="21" class="chemin droitehaut"></p>
						<p id="57" class="chemin gauchebas"></p>
						<p id="56" class="chemin droitebas"></p>
					</div>
					<div id="14" class="hexagon terre">
						<p id="16" class="croisement haut"></p>
						<p id="17" class="croisement hautgauche"></p>
						<p id="41" class="croisement bas"></p>
						<p id="42" class="croisement basgauche"></p>
						<p id="55" class="chemin gauche"></p>
						<p id="20" class="chemin gauchehaut"></p>
						<p id="18" class="chemin droitehaut"></p>
						<p id="54" class="chemin gauchebas"></p>
						<p id="53" class="chemin droitebas"></p>
					</div>
					<div id="13" class="hexagon terre">
						<p id="14" class="croisement haut"></p>
						<p id="15" class="croisement hautgauche"></p>
						<p id="37" class="croisement hautdroite"></p>
						<p id="39" class="croisement bas"></p>
						<p id="40" class="croisement basgauche"></p>
						<p id="38" class="croisement basdroite"></p>
						<p id="52" class="chemin gauche"></p>
						<p id="17" class="chemin gauchehaut"></p>
						<p id="48" class="chemin droitehaut"></p>
						<p id="49" class="chemin droite"></p>
						<p id="50" class="chemin droitebas"></p>
						<p id="51" class="chemin gauchebas"></p>
					</div>
					<div id="24" class="hexagon ocean"></div>
					<div class="vide"></div>
					<div class="vide"></div>
				</section>
				<section id="ligne7" class="plateau">
					<div class="vide"></div>
					<div class="vide"></div>
					<div class="vide"></div>
					<div id="26" class="hexagon ocean"></div>
					<div id="35" class="hexagon ocean"></div>
					<div id="25" class="hexagon ocean"></div>
					<div id="34" class="hexagon ocean"></div>
					<div class="vide"></div>
					<div class="vide"></div>
					<div class="vide"></div>
				</section>
			</section>
		<table id="joueurs" class="table table-striped table-dark">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Joueur</th>
					<th scope="col">Cartes</th>
					<th scope="col">Ressources</th>
					<th scope="col">Points</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="joueur : ${joueurs}" th:if="${joueur.partie != NULL}">
					<td>[[${joueur.couleur}]]</td>
					<td th:each="main : ${mainJoueurs}" 
						th:if="${main[0] == joueur.id}" 
						th:text="${main[1]}"/>
					<td>[[${joueur.bois + joueur.argile + joueur.minerai + joueur.ble + joueur.laine}]]</td>
					<td> 0 </td>
				</tr>
			</tbody>
		</table>
		<table id="mesCartes" class="table table-striped table-dark">
			<thead class="thead-dark">
				<tr>
					<th colspan="2" scope="colgroup">Mes cartes developpement</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th class="col-2" scope="col">Type</th>
					<th class="col-1" scope="col">Nombre</th>
				</tr>
				<tr>
					<td>Chevalier</td>
					<td>[[${carteDev[0]}]]</td>
				</tr>
				<tr>
					<td>Point De Victoire</td>
					<td>[[${carteDev[1]}]]</td>
				</tr>
				<tr>
					<td>Constructeur</td>
					<td>[[${carteDev[2]}]]</td>
				</tr>
				<tr>
					<td>Decouverte</td>
					<td>[[${carteDev[3]}]]</td>
				</tr>
				<tr>
					<td>Monopole</td>
					<td>[[${carteDev[4]}]]</td>
				</tr>
			</tbody>
		</table>

		<table id="mesRessources" class="table table-striped table-dark">
			<thead class="thead-dark">
				<tr>
					<th colspan="2" scope="colgroup">Mes ressources</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th class="col-1" scope="col">Type</th>
					<th class="col-1" scope="col">Nombre</th>
				</tr>
				<tr>
					<td>Bois</td>
					<td th:text="${sessionJoueur.bois}"></td>
				</tr>
				<tr>
					<td>Argile</td>
					<td>[[${sessionJoueur.argile}]]</td>
				</tr>
				<tr>
					<td>Ble</td>
					<td>[[${sessionJoueur.ble}]]</td>
				</tr>
				<tr>
					<td>Minerai</td>
					<td>[[${sessionJoueur.minerai}]]</td>
				</tr>
				<tr>
					<td>Laine</td>
					<td>[[${sessionJoueur.laine}]]</td>
				</tr>
			</tbody>
		</table>
</body>
</html>